* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #3c3c3c;
}
img {
  max-width: 100%;
}
.logo {
  max-width: 100px;
}
/* fonte 
  h1
  font-family: 'Dosis', sans-serif;
    font-family: 'Open Sans', sans-serif;
  */
h1 {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  font-size: 52px;
  color: #ffffff;
  margin-left: 500px;
}
h2 {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  font-size: 35px;
  color: #ffffff;
}
h3 {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}
p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}

/* colors
  color: #D2573F; mørk rød
  color: #EF9786; lys rød
  color: #3C3C3C; sort ish
  color: #FFFFFF; hvid
  */
