---
import Main from "../layouts/Main.astro";
---

<Main title="Tak for hjælpen">
  <p>Din feedback vil blive vist når vi har godkendt den her hos Royal Escapes</p>
</Main>

<style>
  p {
    margin-left: 500px;
    text-align: center;
    width: 400px;
  }
  @media (max-width: 700px) {
    p {
      margin-left: 150px;
      text-align: center;
      width: 200px;
    }
  }
</style>
