---
import MainLayout from "../layouts/Main.astro";
---

<MainLayout title="Tak for hjælpen">
  <p>Din feedback vil blive vist når vi har godkendt den her hos Royal Escapes</p>
</MainLayout>

<style></style>
