---
import Addtestimonial from "../components/Addtestimonial.astro";
import Linkbutton from "../components/Linkbutton.astro";
import Socialmedie from "../components/Socialmedie.astro";
import Testimonials from "../components/Testimonials.astro";
import Main from "../layouts/Main.astro";
---

<Main title="The Royal Playroom">
  <video width="100%" height="100%" autoplay muted loop src="public/hero01.mp4"></video>
  <section>
    <div class="">
      <h2>Lås op til en flugt fra hverdagen</h2>
    </div>
    <div class="tekst">
      <p>
        Velkommen til The Royal Playroom. Dette børneværelse har i over 100 år været anvendt af kommende konger og dronninger i deres barndom. Desværre blev en konge frarøvet sin skæbne og har siden hjemsøgt rummet, hvilket fortsat er tilfældet i
        dag. For at blive dronningens royale livvagter, skal I nu demonstrere jeres værd ved at løse en mystisk opgave.
      </p>
    </div>
    <a class="linkher" href="https://www.royalescapes.dk/dk/book-escape-room">
      <div>
        <h3>Er du værdig til at være dronningens livvagt? Find ud af det, ved at booke tid ved Royal Escapes her!</h3>
      </div>
    </a>
    <div>
      <Socialmedie />
    </div>
    <div>
      <img src="dronning2.webp" alt="dronning 2" />
    </div>
    <div>
      <Linkbutton href="https://www.royalescapes.dk/dk/book-escape-room" text="Prøv The Royal Playroom her" />
    </div>
    <Testimonials />
    <Addtestimonial />
  </section>
</Main>
<style>
  section {
    margin: 50px;
  }
  .tekst {
    display: grid;
    grid-template-columns: 1fr;
    width: 600px;
  }
  .tekst p {
    width: fit-content;
  }
  .linkher {
    display: grid;
    width: 400px;
  }
  .linkher div {
    width: fit-content;
  }
</style>
