---
import Addtestimonial from "../components/Addtestimonial.astro";
import Testimonials from "../components/Testimonials.astro";
import Main from "../layouts/Main.astro";
---

<Main title="Forside">
  <p>Her er indholdet</p>
  <Testimonials />
  <Addtestimonial />
</Main>
