---
import Header from "../components/Header.astro";
import Main from "../layouts/Main.astro";
import Linkbutton from "../components/Linkbutton.astro";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&family=Open+Sans&display=swap" rel="stylesheet" />
  </head>
  <body>
    <header>
      <div class="head">
        <div class="logo">
          <a href="https://www.royalescapes.dk"><img src="/logo.svg" alt="logo" /></a>
        </div>
        <div class="book">
          <Linkbutton href="https://www.royalescapes.dk/dk/book-escape-room" text="Book din tid her" />
        </div>
      </div>
    </header>
    <Main title="Lås op til en flugt fra hverdagen">
      <div class="grid_3">
        <a class="lock_animation" href="/kampagne"></a>
        <!-- <div class="lock_animation"></div> -->
      </div>
    </Main>
  </body>
</html>

<style>
  body {
    background-color: #3c3c3c;
  }
  img {
    width: 300px;
    aspect-ratio: 300/130;
  }
  .grid_3 {
    display: grid;
  }
  .grid_3 a {
    justify-self: center;
  }

  .head {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    justify-content: flex-end;
    justify-content: space-between;
  }
  .logo {
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
  }
  .book {
    grid-area: 1 / 4 / 3 / 3;
    justify-self: end;
    margin: 20px;
  }
  .lock_animation {
    background-image: url(/locked.svg);
    aspect-ratio: 245/334;
    width: 15%;
  }
  .lock_animation:hover {
    background-image: url(/open.svg);
    aspect-ratio: 245/334;
    width: 15%;
  }
  @media (max-width: 700px) {
    .head {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      justify-content: flex-end;
      justify-content: space-between;
    }
    .logo {
      grid-area: 1 / 1 / 2 / 2;
      justify-self: start;
    }
    .book {
      grid-area: 1 / 4 / 3 / 3;
      justify-self: end;
      margin: 20px;
    }
    .lock_animation {
      background-image: url(/locked.svg);
      aspect-ratio: 245/334;
      width: 30%;
    }
    .lock_animation:hover {
      background-image: url(/open.svg);
      aspect-ratio: 245/334;
      width: 30%;
    }
  }
</style>
