---
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <Header />
    <main>
      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
      <lottie-player src="arrow.json" background="transparent" speed="1" style="width: 300px; height: 300px;" autoplay></lottie-player>
      <h2>"Lås op til en flugt fra hverdagen"</h2>
    </main>
  </body>
</html>
<style>
  main {
    background-color: #3c3c3c;
  }
</style>
