---
---

<main class="grid_2">
  <div>
    <img src="/key1.svg" alt="key 1" />
  </div>
  <div>
    <img src="/lock1.svg" alt="lock 1" />
  </div>
  <div>
    <img src="/lock2.svg" alt="lock 2" />
  </div>
  <div>
    <img src="/key2.svg" alt="key 2" />
  </div>
  <div>
    <img src="/key3.svg" alt="key 3" />
  </div>
  <div>
    <img src="/lock3.svg" alt="lock 3" />
  </div>
  <div>
    <img src="/key4.svg" alt="key 4" />
  </div>
  <div>
    <img src="/lock4.svg" alt="lock 4" />
  </div>
</main>

<style>
  .grid_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
</style>
