<footer>
  <p>Copyright 2023© All Rights Reserved</p>
</footer>
<style>
  footer {
    display: grid;
    margin-top: 300px;
  }
  footer p {
    justify-self: center;
    align-self: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
  }
</style>
