<footer>
  <p>Copyright 2023© All Rights Reserved</p>
</footer>
<style>
  footer {
    display: grid;
    margin-top: 300px;
  }
  footer p {
    justify-self: center;
    align-self: center;
  }
</style>
