---
const { data } = Astro.props;

function getFirstNChars(str, length) {
  return str.substring(0, length);
}
---

<article>
  <h2>{data.title}</h2>
  <p>
    {getFirstNChars(data.description, 35)}...
    <a href={"testimonials/" + data.title + "_" + data.id}>Læs mere her</a>
  </p>
</article>
<style>
  h2 {
    font-family: "Dosis", sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #ffffff;
  }
  p {
    font-family: "Dosis", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
  }
  a {
    font-family: "Dosis", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
  }
  article {
    display: grid;
  }
  article h2 p {
    justify-self: center;
    align-self: center;
  }
</style>
