---
const { data } = Astro.props;

function getFirstNChars(str, length) {
  return str.substring(0, length);
}
---

<article>
  <h2>{data.title}</h2>
  <p>
    {getFirstNChars(data.description, 55)}...
    <a href={"testimonials/" + data.id}>Læs mere her</a>
  </p>
</article>
<style>
  h2 {
    font-family: "Dosis", sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #ffffff;
  }
  p {
    font-family: "Dosis", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
  }
  a {
    font-family: "Dosis", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
  }
  article {
    display: grid;
    margin-bottom: 80px;
    margin-top: 40px;
  }
  h2 {
    justify-self: center;
  }
  p {
    justify-self: center;
  }
  @media (max-width: 700px) {
    article {
      margin-bottom: 100px;
      margin-top: 40px;
    }
    h2 {
      font-family: "Dosis", sans-serif;
      font-weight: 400;
      font-size: 20px;
      color: #ffffff;
      margin-top: 80px;
    }
    p {
      font-family: "Dosis", sans-serif;
      font-weight: 400;
      font-size: 18px;
      color: #ffffff;
    }

    a {
      font-family: "Dosis", sans-serif;
      font-weight: 400;
      font-size: 18px;
      color: #ffffff;
    }
    h2 {
      justify-self: center;
    }
    p {
      justify-self: center;
    }
  }
</style>
